<div class="color-picker">

    <div class='col-xs-2 color-picker-label'>
        R
    </div>
    <div class=col-xs-10>
        <input ng-model=color.r class=color-picker type=range min=0 max=255 step=1>
    </div>
    <div class=clearfix></div>
    <div class='col-xs-2 color-picker-label'>
        G
    </div>
    <div class=col-xs-10>
    <input ng-model=color.g class=color-picker type=range min=0 max=255 step=1>
    </div>
    <div class=clearfix></div>
    <div class='col-xs-2 color-picker-label'>
        B
    </div>
    <div class=col-xs-10>
        <input ng-model=color.b  class=color-picker type=range min=0 max=255 step=1>
    </div>
    <div class=clearfix></div>
    <div class='col-xs-2 color-picker-label'>
        A
    </div>
    <div class=col-xs-10>
       <input ng-model=color.a class=color-picker type=range min=0 max=1 step=0.01>
    </div>
    <div class='col-xs-2 color-picker-label'>
        Hex
    </div>
    <div class=col-xs-10>
       <input type=text ng-model=hex class=form-control>
    </div>
    <div class=clearfix></div>
    
    
    
    
</div>
