<div class="color-picker">

        <input class=form-control ng-model=color.r label=R class=color-picker type=range/text min=0 max=255 step=1>
        <input class=form-control ng-model=color.g label=G class=color-picker type=range/text min=0 max=255 step=1>
        <input class=form-control ng-model=color.b label=B class=color-picker type=range/text min=0 max=255 step=1>    
        <input class=form-control ng-model=color.a label=A class=color-picker type=range/text min=0 max=1 step=0.1>
        <!-- <input class=form-control ng-model=hex label=Hex class=color-picker type=text min=0 max=255 step=1> -->
    <div class='col-xs-2 color-picker-label'>
        Hex
    </div>
    <div class=col-xs-10>
       <input type=text ng-model=hex class=form-control>
    </div>
    <div class=clearfix></div>
    
    
    
    
</div>
