<!-- <form class="form form-horizontal"> -->
<div class='slider-form'>

<section>
<div class=col-sm-6>
<h3>Thumb</h3>
	<label for=color1>
		Thumb Color
		<input name=color1 ng-model=slider.color2 type=color>
	</label>
	<label for=thumb-border-color>
		Thumb Border Color
		<input name=thumb-border-color ng-model=slider['thumb-border-color'] type=color>
	</label>
	<label for=thumb-roundness>
		Thumb Roundness
		<input name=thumb-roundness ng-model=slider['thumb-roundness']  type=range min=0 max=50 step=1>
	</label>
	<label for=thumb-height>
		Thumb Height
		<input name=thumb-roundness ng-model=slider['thumb-height']  type=range min=0 max=50 step=1>
	</label>

	<label for=thumb-height>
		Thumb Width
		<input name=thumb-roundness ng-model=slider['thumb-width']  type=range min=0 max=50 step=1>
	</label>
	<label for=thumb-border-width>
		Thumb Border Width
		<input name=thumb-border-width ng-model=slider['thumb-border-width']  type=range min=0 max=10 step=0.1>
	</label>

	<h4>Thumb Shadow</h4>
	<label for=thumb-shadow-color>
		Thumb Shadow Color
		<input ng-model=slider['thumb-shadow-color'] type=color>
	</label>

	<label for=thumb-shadow-color>
		Thumb Shadow Size
		<input ng-model=slider['thumb-shadow-size'] type=range min=0 max=15 step=0.1>
	</label>

	<label for=thumb-shadow-color>
		 Thumb Shadow Blur
		<input ng-model=slider['thumb-shadow-blur'] type=range min=0 max=15 step=0.1>
	</label>
	</div>
	 <div class=col-sm-6>
	 <h2>
	  CSS
	 </h2>
	<textarea width=500px height=500px ng-model=output></textarea>
	</div>
	<div class=clearfix></div>
</section>

<section>
<div class=col-sm-6>
	<h3>Track</h3>

	<label for=color1>
		Track Color
		<input name=color1 ng-model=slider.color1 type=color>
	</label>

	<label for=thumb-roundness>
		Track Edge Softness
		<input name=thumb-roundness ng-model=slider['track-radius']  type=range min=0 max=25 step=0.1>
	</label>

	<label for=thumb-border-width>
		Track Border Width
		<input name=thumb-border-width ng-model=slider['track-border-width']  type=range min=0 max=10 step=0.1>
	</label>

	<label for=thumb-border-color>
		Track Border Color
		<input name=thumb-border-color ng-model=slider['track-border-color'] type=color>
	</label>


	<label for=thumb-roundness>
		Track Height
		<input name=thumb-roundness ng-model=slider['track-height']  type=range min=0 max=50 step=0.1>
	</label>

	<h4>Track Shadow</h4>
	<label for=thumb-shadow-color>
		Track Shadow Color
		<input ng-model=slider['track-shadow-color'] type=color>
	</label>

	<label for=Track-shadow-color>
		Track Shadow Size
		<input ng-model=slider['track-shadow-size'] type=range min=0 max=15 step=0.1>
	</label>

	<label for=Track-shadow-color>
		 Track Shadow Blur
		<input ng-model=slider['track-shadow-blur'] type=range min=0 max=15 step=0.1>
	</label>
</div>
 <div class=col-sm-6>
 <h2>
  CSS
 </h2>
<textarea width=500px height=500px ng-model=output></textarea>
</div>
<div class=clearfix></div>
</section>

<section>
	


	<div class=col-sm-6>
	<h3>General</h3>

	
	<label for=contrast>
		Contrast (applies to focused sliders)
		<input name=thumb-roundness ng-model=slider['contrast']  type=range min=0 max=50 step=1>
	</label>

	<label for=namespace>
		Namespace (adds a class to generated css)
		<input class=form-control name=thumb-roundness ng-model=slider['namespace']  type=text>
	</label>
	</div>
 <div class=col-sm-6>
 <h2>
  CSS
 </h2>
<textarea width=500px height=500px ng-model=output></textarea>
</div>
	<div class=clearfix></div>


</section>
