<!-- <form class="form form-horizontal"> -->
<div class=form-group>
	<label for=color1>
		Range Color
		<input name=color1 ng-model=slider.color1 type=color>
	</label>
</div>
<div class=form-group>
	<label for=color1>
		Button Color
		<input name=color1 ng-model=slider.color2 type=color>
	</label>
</div>
<div class=form-group>
	<label for=shadow-color>
		Shadow Color
		<input ng-model=slider['shadow-color'] type=color>
	</label>
</div>

<div class=form-group>
	<label for=thumb-roundness>
		Button Hardness
		<input name=thumb-roundness ng-model=slider['thumb-roundness']  type=range min=0 max=100 step=1>
	</label>
</div>
<div class=form-group>
	<label for=thumb-border-width>
		Button Border Width
		<input name=thumb-border-width ng-model=slider['thumb-border-width']  type=range min=0 max=10 step=0.1>
	</label>
</div>


<div class=form-group>
	<label for=thumb-roundness>
		Range Hardness
		<input name=thumb-roundness ng-model=slider['track-radius']  type=range min=0 max=10 step=0.1>
	</label>
</div>



<div class=form-group>
	<label for=contrast>
		Contrast
		<input name=thumb-roundness ng-model=slider['contrast']  type=range min=0 max=50 step=1>
	</label>
</div>


<div class=form-group>

	<label for=thumb-height>
		Button Height
		<input name=thumb-roundness ng-model=slider['thumb-height']  type=range min=0 max=50 step=1>
		<!-- <input ng-model=slider['thumb-height']  step=1> -->
	</label>
<div class=form-group>	

<div class=form-group>

	<label for=thumb-height>
		Button Width
		<input name=thumb-roundness ng-model=slider['thumb-width']  type=range min=0 max=50 step=1>
		<!-- <input ng-model=slider['thumb-width']  step=1> -->
	</label>
<div class=form-group>	
<!-- </form> -->

<!-- <input ng-model=slider['thumb-roundness'] type=range min=0 max=1 step=0.01> -->
<!-- <input ng-model=slider['thumbRoundness'] type=range min=0 max=100 step=1> -->
<!-- 	
<section class=col-sm-6>
<h2>Slider 1</h2>
</section>